{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% load cache %}
{% cache 30 content %}
<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}
{% endcache %}



{% block content %}

   <h1>Общее количество статей: {{ post_name|length }}</h1>
    <h3>{% current_time '%b %d %Y %A' %}</h3>



   <!-- Выводим статьи, только если они есть с помощью тега if -->
   {% if post_name %}
       <table style="border-collapse: collapse; width: 100%; height: 90px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 20%; height: 18px; text-align: center;"><strong>название</strong></td>
<td style="width: 20%; height: 18px; text-align: center;"><strong>описание</strong></td>
<td style="width: 20%; height: 18px; text-align: center;"><strong>автор</strong></td>
<td style="width: 20%; height: 18px; text-align: center;"><strong>тип</strong></td>
<td style="width: 20%; height: 18px; text-align: center;"><strong>дата</strong></td>
</tr>
        {% for post in post_name %}
           <tr>
               <td>{{ post.post_name | censor_text }}</td>
               <td>{{ post.post_text |truncatewords:10 | censor_text }}</td>
               <td>{{ post.author.full_name }}</td>
               <td>{{ post.post_news }}</td>
               <td>{{ post.time_post_add |date:'d M Y'}}</td>
           </tr>
        {% endfor %}
       </table>
   {% else %}
       <!-- Если статей нет, говорим, что статей нет ;) -->
       <h2>Статей нет!</h2>
   {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
